In [1]:
%reset -f
import pandas as pd
import plotly.express as px
from datetime import datetime as dt
import os

In [26]:
df = pd.read_csv('./data/raw/whole_transactions_2023.csv', header=0, parse_dates=['Date']).drop(["Account Number", "Unnamed: 3"], axis=1)
df1 = pd.read_csv('./data/raw/whole_transactions_2023_slurge.csv', header=0, parse_dates=['Date']).drop(["Account Number", "Unnamed: 3"], axis=1)
df_final = pd.concat([df,df1], ignore_index=True, axis=0).sort_values(by=['Date'], ascending=True).drop_duplicates().fillna('No detail')
df_final = df_final.query('Category != "Internal transfers"')
# df_final['Category'] = df_final['Category'].map({'Uncategorised': 'Food & drink', 'Other income': 'Income'})
df_final

,Date,Amount,Transaction Type,Transaction Details,Category,Merchant Name
0,2022-12-01,2438.17,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
3,2022-12-01,-256.70,TRANSFER DEBIT,INTERNET BPAY GLEN EIRA COUNCIL 9334026999310,Bills,Glen Eira City Council
6,2022-12-01,-350.00,TRANSFER DEBIT,INTERNET TRANSFER Car instalment,Transfers out,No detail
206,2022-12-01,-23.25,MISCELLANEOUS DEBIT,V7155 30/11 COLES 0645 OAKLEIGH 74363962334,Groceries,Coles (Oakleigh Central)
7,2022-12-02,-42.22,MISCELLANEOUS DEBIT,V5977 01/12 AUST FEDERAL POLICE SYDNEY 7456445...,Bills,Australian Federal Police
...,...,...,...,...,...,...
380,2023-04-06,-48.63,EFTPOS DEBIT,POS 06/04 RACV INSURANCE MELBOURNE,Bills,RACV
203,2023-04-07,-1.44,EFTPOS DEBIT,POS 07/04 PAYPAL *UBEREATS AU Sydney AU,Food & drink,Uber Eats
202,2023-04-07,-33.88,EFTPOS DEBIT,POS 07/04 PAYPAL *UBEREATS AU Sydney AU,Food & drink,Uber Eats
205,2023-04-08,-155.99,EFTPOS DEBIT,POS 08/04 AMAZON MARKETPLACE AU +61866216107,Shopping,Amazon
384,2023-04-08,-76.17,EFTPOS DEBIT,POS 08/04 WW METRO/11-29 KOKARIBB R CARNEGIE,Groceries,Woolworths (Carnegie)

In [27]:
# df4 = df.groupby([pd.Grouper(key='Date', freq='2W-Wed', closed='left', label='left')]).sum(numeric_only=True).reset_index()
data1 = df_final.groupby([pd.Grouper(key='Date', freq='2W-WED', closed='left', label='left'), "Category"]).sum(numeric_only=True).reset_index()
data1

          Date       Category   Amount
0   2022-11-30          Bills -4941.28
1   2022-11-30  Entertainment   -15.15
2   2022-11-30   Food & drink  -268.09
3   2022-11-30      Groceries  -169.27
4   2022-11-30           Home   -56.90
..         ...            ...      ...
115 2023-04-05      Groceries  -224.04
116 2023-04-05         Health  -131.17
117 2023-04-05         Income  2596.04
118 2023-04-05       Shopping  -155.99
119 2023-04-05  Transfers out  -350.00

[120 rows x 3 columns]