In [ ]:
%reset -f
import pandas as pd
import plotly.express as px
from datetime import datetime as dt
import os

In [681]:
df = pd.read_csv('./data/processed/expenses_filtered_2023.csv', header=0, parse_dates=['Date'])
df1 = pd.read_csv('./data/processed/Bills.csv', header=0, dtype={'Total per year': float})
df1

                          item  total_year  payment_type   person
0                     Mortgage    28600.00   fortnigthly  Rebecca
1                  Tucson loan     7800.00   fortnigthly   Victor
2                    Body corp     1745.84     quarterly   Victor
3                Pet insurance     1664.00        weekly  Rebecca
4                  Electricity     1242.16     quarterly   Victor
5                        Rates     1026.80     quarterly   Victor
6             Tucson Insurance     1000.00      annually   Victor
7                     Internet      948.00       monthly   Victor
8      Victor Health insurance      924.00       monthly   Victor
9                  Tucson Rego      900.00      annually   Victor
10                  Yaris Rego      869.40    semesterly   Victor
11                       Water      876.00     quarterly   Victor
12                    Pet food      675.00  occasionally   Victor
13               Yaris Service      600.00  occasionally   Victor
14              Tucson service      600.00  occasionally   Victor
15  Home and content insurance      544.68       monthly  Splurge
16         Victor's phone bill      520.80       monthly   Victor
17          AHPRA registration      415.00      annually  Rebecca
18             Yaris Insurance      400.55      annually   Victor
19        Rebecca's phone bill      288.00       monthly  Rebecca
20              MCC membership      263.00      annually  Rebecca
21   Yaris roadside assistance      110.70      annually   Victor
22                    Pet rego       66.90      annually   Victor
23  Rebecca's health insurance       62.40       monthly  Rebecca
24                  Toll roads       60.00      annually  Rebecca
25       Victor's Amazon prime       59.00      annually   Victor

In [705]:
# df = df.setindex(df['Date'], drop=False)d
df4 = df.groupby([pd.Grouper(key='Date', freq='2W-WED', closed='left', label='left')]).sum(numeric_only=True).reset_index()
df4

        Date   Amount
0 2022-12-28  1777.69
1 2023-01-11  1584.73
2 2023-01-25  1002.72
3 2023-02-08  1505.36
4 2023-02-22  1438.84
5 2023-03-08  3437.43
6 2023-03-22   521.70

In [712]:
def current_fornight_balance(data_bills: pd, processed_data: pd):
    
    # Calculate the total each person pays in bills
    victor_bills = data_bills.query("person == 'Victor'")['total_year'].sum() / 26
    rebecca_bills = data_bills.query("person == 'Rebecca'")['tota_year'].sum() / 26
    
    # Calculate money available after bills
    victor_money_after_bills = 2566 - (victor_bills)
    rebecca_money_after_bills = 1721 - (rebecca_bills)
    #Fornight Balance
    total_balance_fortnight = victor_money_after_bills + rebecca_money_after_bills - processed_data.iloc[-1]['Amount']

    #Year Saving
    year_saving = len(processed_data.Amount)*(victor_money_after_bills+rebecca_money_after_bills) - processed_data['Amount'].sum()
    return total_balance_fortnight, year_saving

victor_bills = df1.query("person == 'Victor'")['total_year'].sum()/26
rebecca = df1.query("person == 'Rebecca'")['total_year'].sum()/26

len(df4.Amount)*(2566+1721-(victor_bills+rebecca)) - df4["Amount"].sum()

4816.574230769231