In [3]:
%reset -f
import pandas as pd
import plotly.express as px
from datetime import datetime as dt
import os

In [4]:
df = pd.read_csv('./data/processed/expenses_filtered_2023.csv', header=0, parse_dates=['Date'])
df

,Date,Amount,Transaction Type,Transaction Details,Category,Merchant Name
0,2022-11-30,2438.17,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
1,2022-12-01,-256.70,TRANSFER DEBIT,INTERNET BPAY GLEN EIRA COUNCIL 9334026999310,Bills,Glen Eira City Council
2,2022-12-01,-350.00,TRANSFER DEBIT,INTERNET TRANSFER Car instalment,Transfers out,No detail
3,2022-12-01,-23.25,MISCELLANEOUS DEBIT,V7155 30/11 COLES 0645 OAKLEIGH 74363962334,Groceries,Coles (Oakleigh Central)
4,2022-12-02,-42.22,MISCELLANEOUS DEBIT,V5977 01/12 AUST FEDERAL POLICE SYDNEY 7456445...,Bills,Australian Federal Police
...,...,...,...,...,...,...
312,2023-04-06,-350.00,TRANSFER DEBIT,INTERNET TRANSFER Car instalment,Transfers out,No detail
313,2023-04-07,-33.88,EFTPOS DEBIT,POS 07/04 PAYPAL *UBEREATS AU Sydney AU,Food & drink,Uber Eats
314,2023-04-07,-1.44,EFTPOS DEBIT,POS 07/04 PAYPAL *UBEREATS AU Sydney AU,Food & drink,Uber Eats
315,2023-04-08,-76.17,EFTPOS DEBIT,POS 08/04 WW METRO/11-29 KOKARIBB R CARNEGIE,Groceries,Woolworths (Carnegie)
316,2023-04-08,-155.99,EFTPOS DEBIT,POS 08/04 AMAZON MARKETPLACE AU +61866216107,Shopping,Amazon

In [26]:
# df4 = df.groupby([pd.Grouper(key='Date', freq='2W-Wed', closed='left', label='left')]).sum(numeric_only=True).reset_index()
data1 = df.query('Amount >= 0')
data2 = df.query('Amount <= 0')
data2.Amount = data2.Amount.abs()
df3 = data2.groupby([pd.Grouper(key='Date', freq='2W-Wed', closed='left', label='left')]).sum(numeric_only=True).reset_index()
df4 = data1.groupby([pd.Grouper(key='Date', freq='2W-Wed', closed='left', label='left')]).sum(numeric_only=True).reset_index()
df3

/var/folders/nc/23954j854ks7ldqnyw6v43hr0000gn/T/ipykernel_23569/76444698.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        Date   Amount
0 2022-11-30  6220.33
1 2022-12-14  1691.05
2 2022-12-28  4149.63
3 2023-01-11  1656.04
4 2023-01-25  1692.10
5 2023-02-08  1431.90
6 2023-02-22  2016.29
7 2023-03-08  2566.69
8 2023-03-22  1907.42
9 2023-04-05   945.15

In [29]:
fig = px.bar([df4,df3], x='Date', y='Amount',color_discrete_sequence=px.colors.qualitative.Dark24, text_auto='.2f')
fig.update_layout( 
    bargap=0.3,
    xaxis_title_text='Fornight pay date', 
    yaxis_title_text='Total',
    font_family='Arial',
    xaxis=dict(tickmode='array', tickvals= data1['Date'], ticktext = data1['Date'].apply(lambda x: x.strftime('%d-%b-%Y')),automargin=True),
    ),
fig.update_yaxes(showgrid=False)
fig.update_traces(text=f'{data1.Amount.sum()}')
fig.update_xaxes(type='category')
fig.show()

ValueError: Must pass 2-d input. shape=(2, 10, 2)