In [29]:
%reset -f
import pandas as pd
import plotly.express as px
from datetime import datetime as dt
import os

In [31]:
df = pd.read_csv('./data/processed/expenses_filtered_2023.csv', header=0, parse_dates=['Date'])
df

,Date,Amount,Transaction Type,Transaction Details,Category,Merchant Name
0,2022-11-30,2438.17,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
1,2022-12-01,-256.70,TRANSFER DEBIT,INTERNET BPAY GLEN EIRA COUNCIL 9334026999310,Bills,Glen Eira City Council
2,2022-12-01,-350.00,TRANSFER DEBIT,INTERNET TRANSFER Car instalment,Transfers out,No detail
3,2022-12-01,-23.25,MISCELLANEOUS DEBIT,V7155 30/11 COLES 0645 OAKLEIGH 74363962334,Groceries,Coles (Oakleigh Central)
4,2022-12-02,-42.22,MISCELLANEOUS DEBIT,V5977 01/12 AUST FEDERAL POLICE SYDNEY 7456445...,Bills,Australian Federal Police
...,...,...,...,...,...,...
312,2023-04-06,-350.00,TRANSFER DEBIT,INTERNET TRANSFER Car instalment,Transfers out,No detail
313,2023-04-07,-33.88,EFTPOS DEBIT,POS 07/04 PAYPAL *UBEREATS AU Sydney AU,Food & drink,Uber Eats
314,2023-04-07,-1.44,EFTPOS DEBIT,POS 07/04 PAYPAL *UBEREATS AU Sydney AU,Food & drink,Uber Eats
315,2023-04-08,-76.17,EFTPOS DEBIT,POS 08/04 WW METRO/11-29 KOKARIBB R CARNEGIE,Groceries,Woolworths (Carnegie)
316,2023-04-08,-155.99,EFTPOS DEBIT,POS 08/04 AMAZON MARKETPLACE AU +61866216107,Shopping,Amazon

In [34]:
# df4 = df.groupby([pd.Grouper(key='Date', freq='2W-Wed', closed='left', label='left')]).sum(numeric_only=True).reset_index()
data1 = df.query('Amount >= 0')
data1

,Date,Amount,Transaction Type,Transaction Details,Category,Merchant Name
0,2022-11-30,2438.17,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
5,2022-12-02,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
18,2022-12-08,35.00,MISCELLANEOUS CREDIT,V7155 06/12 BUNNINGS GROUP LTD HAWTHORN E 7494...,Other income,Bunnings Online
28,2022-12-14,3104.13,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
38,2022-12-20,2508.19,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
53,2022-12-28,564.00,TRANSFER CREDIT,RACHEL DREW car seat,Transfers in,No detail
71,2022-12-30,0.01,INTEREST PAID,INTEREST,Other income,No detail
72,2022-12-30,0.05,INTEREST PAID,INTEREST,Other income,No detail
105,2023-01-11,2508.19,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
108,2023-01-16,60.00,TRANSFER CREDIT,MARILYN COLBECK Marilyn aus open Rebecca Aus open,Transfers in,No detail
121,2023-01-20,250.00,INTER-BANK CREDIT,PSB3-177-0078-4 DELWP ENERGY #Start BILL_OVER,Transfers in,No detail
123,2023-01-23,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
137,2023-01-25,8.54,MISCELLANEOUS CREDIT,V7221 23/01 ADAIRS CHADSTONE CHADSTONE 7494052...,Other income,Adairs (Chadstone)
138,2023-01-25,2508.19,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
156,2023-02-02,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
173,2023-02-08,2508.19,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
176,2023-02-08,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
186,2023-02-13,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
199,2023-02-20,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
205,2023-02-22,2508.19,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
213,2023-02-27,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
231,2023-03-06,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
240,2023-03-08,2551.12,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
249,2023-03-13,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
271,2023-03-22,50.00,TRANSFER CREDIT,PETER LIN Northcote match,Transfers in,No detail
272,2023-03-22,2596.04,SALARY,SALARY 01118120 MONASH UNIVERSIT VICTOR CRUZ DE F,Income,No detail
278,2023-03-27,51.00,TRANSFER CREDIT,MR ALBERTO G D GONCADinner,Transfers in,No detail
279,2023-03-27,51.00,TRANSFER CREDIT,JAMES BERNARD JB Thai,Transfers in,No detail
293,2023-03-31,0.10,INTEREST PAID,INTEREST PAID,Other income,No detail
294,2023-03-31,0.01,INTEREST PAID,INTEREST PAID,Other income,No detail
303,2023-04-05,2596.04,SALARY,SALARY 01118120 MONASH UNIVERSIT,Income,Monash University

In [42]:
fig = px.histogram(data1, x='Date', y='Amount',color='Category', color_discrete_sequence=px.colors.qualitative.Dark24, text_auto='.2f')
fig.update_layout(
    paper_bgcolor='rgba(0,0,0,0)',
    plot_bgcolor='rgba(0,0,0,0)', 
    bargap=0.3,
    xaxis_title_text='Fornight pay date', 
    yaxis_title_text='Total',
    font_family='Arial',
    xaxis=dict(tickmode='array', tickvals= data1['Date'], ticktext = data1['Date'].apply(lambda x: x.strftime('%d-%b-%Y')),automargin=True),
    ),
fig.update_yaxes(showgrid=False)
fig.update_traces(text=f'{data1.Amount.sum()}')
fig.update_xaxes(type='category')
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed